html, body {
    background-image: url('pill.jpg') ;
    background-repeat: repeat
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Itim', cursive; !important;
}


.container2 {  
   margin: 15px;
   background-color: #E4F1EB;
   padding: 20px;
   text-align: center;
   box-shadow: 10px 6px 5px rgba(0,0,0,.15);
}

.container3 {  
    margin: 15px;
    background-color: #CBE0E2;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 6px 5px rgba(0,0,0,.15);
 }

img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
  }


